extends layout

block pageContent
	.ui.bulleted.link.list
		a(href="/category_12345/").item Category name
		a(href="/category_12345/").item Category name
	//ul.items
		//li
			//a(href="/1234556.html")
				//.picture
					//img(alt="^_^")
				//.name Name
				//.price 2134.2
				//.merchant
					//Merchant: %USERNAME%
