{
  "port": 8103,
  "host": "localhost",
  "paths": {
    "static": "./static/",
    "templates": "./templates/site/",
    "uploaded": "./uploaded/"
  },
  "mongo": {
    "port": null,
    "host": "localhost",
    "database": "challenge-01"
  }
}
