$max-w = 980px

header, .content
	margin: 0 auto
	max-width $max-w
	padding 20px

footer
	border-radius 0 !important

.ui.segment > *
	margin-top 0

.catalog-categories-menu nav
	.ui .item.active
		font-weight bold

.catalog-category-elements
	.ui.card
		width 200px !important

		.image img
			width 200px !important
			height auto !important
