.catalog-categories-menu.ui.segment
	h3= local.sections.catalogCategories
	nav
		.ui.bulleted.link.list
			each item in catalogCategories
				if item.current
					span.item.active= item.name
				else
					if item.active
						a(href=item.link).item.active= item.name
					else
						a(href=item.link).item= item.name
