.ui.segment
	h3= local.sections.catalogCategories
	.ui.bulleted.link.list
		each item in catalogCategories
			if current
				span.item= item.name
			else
				if active
					a(href=item.link).item.active= item.name
				else
					a(href=item.link).item= item.name
