extends ../../layout

block pageContent
	include inc/categories

	.catalog-category-elements.ui.segment
		h3= local.catalog.categoryElements

		.four.column.row
			each item in catalogElements
				.column
					.ui.card
						.image
							img(alt=item.name, src=item.picture)
						.content
							.name= item.name
